body { 
  background: url(images/sunset.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container {
	background-color: blue;
	position: relative;
	width: 100%;
	margin-top: 60%;
	margin-bottom: 10%
}